body {
    float: left;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

}
.header {
    position: absolute;
    top: 2px;
    left: 0%;
    right: 0%;
    border-bottom: 2px solid;
    border-bottom-color: #efefef;
}

.sidebar {
    position: absolute;
    top: 36px;
    bottom: 0;
    left: 0;
    width: 150px;
    border-right: 2px solid;
    border-right-color: #efefef;
    overflow-y: auto;
}

.body {
    position: absolute;
    top: 40px;
    left: 188px;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}
.login {
    position: absolute;
    margin: -100px 0 0 -260px;
    top: 25%;
    left: 50.5%;
    height: 200px;
    width: 450px;
    border: 2px solid;
    border-color: #efefef;
}

td {
    padding: 4px;
    border: 1px #efefef solid;
    width: 80px;
}

a:link {
    color: #000000;
    text-decoration: none;
}
a:visited {
    color: #000000;
    text-decoration: none;
}
a:hover {
    color: #14dcaf;
    text-decoration: none;
}