body {
    float: left;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

}
.header {
    position: absolute;
    top: 2px;
    left: 0%;
    right: 0%;
    border-bottom: 2px solid;
    border-bottom-color: black;
}

.sidebar {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    width: 150px;
    border-right: 2px solid;
    border-right-color: black;
}

.body {
    position: absolute;
    top: 40px;
    left: 188px;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}